<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="a" value="1"/>
    <add key="b" value="2"/>
    <add key="c" value="3"/>
    <add key="AppSettings.Flag1" value="f1"/>
    <add key="AppSettings1.Flag1" value="different"/>
    <add key="AppSettings.Flag2" value="f2"/>
    <add key="AppSettings.Nested.Flag3" value="f3"/>
    <add key="AppSettings.Nested.Files[0].Name" value="control"/>
    <add key="AppSettings.Nested.Files[0].Location" value="control.txt"/>

    <add key="AppSettings.Nested.Files[1].Name" value="home"/>
    <add key="AppSettings.Nested.Files[1].Location" value="home.txt"/>
    
  </appSettings>
</configuration>